[global]
   workgroup = {{ samba_workgroup }}
   server role = standalone server
   map to guest = Bad User
   guest account = {{ samba_guest_user }}
   server min protocol = {{ samba_min_protocol }}
   log file = /var/log/samba/log.%m
   max log size = 1000
   vfs objects = acl_xattr
   map acl inherit = yes
   store dos attributes = yes
   disable spoolss = yes

{% for share in samba_guest_shares %}
[{{ share.name }}]
   path = {{ share.path }}
   browsable = yes
   read only = no
   valid users = {{ share.valid_users }}
   create mask = 0664
   directory mask = 2775
   inherit permissions = yes
{% endif %}
{% endfor %}
