# Ignore system-specific files
Thumbs.db       # Windows
desktop.ini     # Windows
.vscode/        # VS Code workspace settings

# Ignore temporary and lock files
*~lock.*          # General lock files

# Ignore logs and temp files
*.log           # Log files
*.tmp           # Temporary files
*.swp           # Vim swap files
*.bak           # Backup files

# Ignore Git-specific files
#.gitignore      

# User folder
*rchive*

# User files
BOM.txt 
wsl2-move.ps1
*.code-workspace
ansible/ansible.log
ansible/.ansible/*