# --- General ---
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias grep='grep --color=auto'
alias n='nano'
alias c='clear'
alias e='exit'

# --- Git ---
alias gs='git status'
alias gaa='git add -A'
alias gplff='git pull --ff-only'
alias gpu='git push'
alias gpl='git pull'
alias gl='git log --oneline --graph --decorate --all'
alias gda='git diff .'
alias gsm='git switch main'
alias gsd='git switch dev'
alias gm='git merge'
alias gmd='git merge dev'
#alias gcm='git commit -m '
gitcm() { git commit -m "$*"; }
gitsw() { git switch "$@"; }
gita() { git add "$@"; }


# --- Ansible ---
alias av='ansible-vault'
alias ave='ansible-vault edit group_vars/all/vault.yml'
ap()  { ansible-playbook "$@"; }
apc() { ansible-playbook --check "$@"; }
apl() { ansible-playbook "$1" -l "$2" -vv; }
agri() { ansible-galaxy init "$@"; }


# --- PVE/ZFS (edit later per host) ---
alias zpves='watch -n 2 "zpool status; echo; zfs list -o name,used,avail,mountpoint"'

# --- Reload Bashrc ---
alias rlb='source ~/.bashrc'
