# --- General ---
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias grep='grep --color=auto'
alias e='nano'

# --- Git ---
alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gcm='git commit -m '
alias gp='git pull --ff-only'
alias gpu='git push'
alias gl='git log --oneline --graph --decorate --all'

# --- Ansible ---
ap()  { ansible-playbook "$@"; }
apd() { local inv="./inventory.yml"; [ -f "$inv" ] && ansible-playbook -i "$inv" "$@" || ansible-playbook "$@"; }
alias av='ansible-vault'
alias ag='ansible-galaxy'
apc() { ansible-playbook --check "$@"; }
apl() { ansible-playbook "$1" -l "$2" -vv; }

# --- PVE/ZFS (edit later per host) ---
alias zpves='watch -n 2 "zpool status; echo; zfs list -o name,used,avail,mountpoint"'
