#!/bin/bash
set -e

LOG_FILE="{{ sleep_suspend_log_file }}"
WAKE_HOURS={{ sleep_suspend_cron_hour | int }}
WAKE_SECONDS=$((WAKE_HOURS * 3600))

echo "[$(date)] Starting suspend + RTC wake cycle" >> "$LOG_FILE"

echo "[$(date)] Clearing RTC alarm." >> "$LOG_FILE"
/usr/sbin/rtcwake -m disable

echo "[$(date)] Scheduling RTC wake in ${WAKE_HOURS} hours (= ${WAKE_SECONDS} seconds)." >> "$LOG_FILE"
/usr/sbin/rtcwake -m no -s "$WAKE_SECONDS" >> "$LOG_FILE" 2>&1


wall "The system will suspend in 1 minute... Please save your work now!"
(
    echo "[$(date)] Waiting 60 seconds before suspend..." >> "$LOG_FILE"
    sleep 60

    echo "[$(date)] System suspending now..." >> "$LOG_FILE"
    systemctl suspend
) & disown