#cloud-config
users:
  - name: "{{ template_fallback_user }}"
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: false
    passwd: "{{ template_fallback_user_password_hash }}"
    ssh_authorized_keys:
      - "{{ template_fallback_ssh_key }}"

package_update: true
packages:
  - qemu-guest-agent
  - cloud-guest-utils

runcmd:
  - systemctl enable --now qemu-guest-agent

ssh_pwauth: true        
disable_root: true
