# ------- Immich core -------
IMMICH_VERSION={{ immich_version }}
UPLOAD_LOCATION={{ upload_location }}
DB_DATA_LOCATION={{ db_data_location }}

# ------- Database creds -------
DB_USERNAME={{ db_user }}
DB_PASSWORD={{ db_pass }}
DB_DATABASE_NAME={{ db_name }}
