#cloud-config
users:
  - name: {{ template_user }}
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: false
    ssh_authorized_keys:
      - {{ template_ssh_key }}

chpasswd:
  list: |
    {{ template_user }}:{{ template_password }}
  expire: false

ssh_pwauth: true
disable_root: true
