[defaults]
display_skipped_hosts = false
display_ok_hosts = false
inventory = inventory.yml
roles_path = roles/vm: roles/pve: roles/common: roles/helper
playbook_dir = playbooks/
remote_user = ansible
private_key_file = ~/.ssh/id_ansible_ed25519
host_key_checking = False    
retry_files_enabled = False  
forks = 10                   
timeout = 30                 
stdout_callback = yaml
log_path = ./ansible.log
deprecation_warnings = False
error_on_missing_handler = True
verbosity = 1
#remote_tmp = /tmp/.ansible/tmp2

vault_password_file = ~/.ansible/vault-pass



