#https://hub.docker.com/r/adguard/adguardhome#quickstart

services:
  adguard:
    image: adguard/adguardhome:latest
    container_name: adguardhome
    restart: unless-stopped

    ports:
      - 53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
      - "3000:3000/tcp"
      # - "443:443/tcp"   # add only if using HTTPS UI
      # - "67:67/udp"     # if using DHCP
      # - "68:68/udp"
      # - "853:853/tcp"   # DoT
      # - "784:784/udp"   # DoQ (choose as needed)
      # - "853:853/udp"
      # - "8853:8853/udp"
      # - "5443:5443/udp"
      # - "5443:5443/tcp" 

    volumes:
      - "{{ adguard_work_dir }}":/opt/adguardhome/work
      - "{{ adguard_conf_dir }}":/opt/adguardhome/conf
